.container-fluid.register
  .row
    .logo_register.text-center
      =image_tag "/images/hfc_logo@1x.png"
    .register_container
      =image_tag "/images/thanks@2x.png", class: "img-responsive"
    .hfc_sticker
      =image_tag "/images/visitor_art@1x.png", class: "img-circle img-responsive"
